/* css style for header */
.bg-color{
    background-color: #264653;
}
.text-color-small{
    color: #E0E0E0;
}

.btn-bg-color{
    background-color: #E76F51;
    color: white;
}
/* mainpart */
.bike-img{
    filter: grayscale(100%);
}
/* icon */
.fa-star{
    color: #E77C40;
}
.img-size{
    width: 260px;
    height: 265px;
    border-radius: 70%;
}
.checkbox-h3-color{
    color: teal;
}
/* footers sections */
.footer-bg-color{
    background-color: #0B0D17;
    height: 200px;
}